*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lemonchiffon;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form > div {
  margin: 20px;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid rosybrown;
  padding: 5px;
  border-radius: 5px;
}

form {
  width: 400px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.49);
  border: solid 1px pink;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}

form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rosybrown;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: palevioletred;
}

input:focus {
  outline: 1px solid pink;
}
